{% extends "base.html" %}
{% load static %}
{% block title %} Home {% endblock title %}

{% block headerlinks %}

<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
<!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />

<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>


{% endblock headerlinks %}

{% block headerstyle %}
<style>
    .slides {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top right;

    }

    .overlay-light {
        background-color: #1313423e;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .overlay {
        background-color: #05063878;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
</style>

{% endblock headerstyle %}

{% block body %}

<div class="main">

    <!--Hero Banner Area -->
    <section class="hero-banner-area">

        <div class="hero-sliders overflow-hidden">
            {% for slide in sliders %}
            <div class="w-full h-fit py-20 md:py-48 text-white flex justify-center text-xl slides relative"
                style="background-image: url('{{slide.image.url}}');">

                <div class="overlay absolute w-full h-full  top-0 left-0"></div>
                <div class="text-white md:w-[60%] h-full relative pl-5 md:pl-36 ">
                    <h4 class="text-sm md:text-base">{{slide.title}}</h4>
                    <h1 class="text-xl md:text-5xl font-bold my-2">{{slide.caption}}</h1>
                    <p class="text-xs md:text-sm font-thin">{{slide.description}}</p>
                    <div class="flex gap-x-2">
                        <button class="btn btn-sm md:btn-md rounded-full btn-info text-white mt-4">Make
                            Appointment</button>
                        <button class="btn btn-sm md:btn-md rounded-full btn-accent text-white mt-4">Contact Us</button>
                    </div>

                </div>

            </div>

            {%endfor %}
            <!-- <div class="w-full h-fit py-20 md:py-48 text-white flex justify-center text-xl slides relative"
                style="background-image: url('{% static 'images/slider/banner2.png' %}');">

                <div class="overlay absolute w-full h-full  top-0 left-0"></div>
                <div class="text-white md:w-[60%] h-full relative pl-5 md:pl-36 ">
                    <h4 class="text-sm md:text-base">Best Care, Best Services</h4>
                    <h1 class="text-xl md:text-5xl font-bold my-2">Meet with Your Doctors</h1>
                    <p class="text-xs md:text-sm font-thin">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        Qui asperiores maiores veniam accusamus beatae.</p>
                    <div class="flex gap-2">
                        <button class="btn btn-sm md:btn-md rounded-full btn-info text-white mt-4">Make
                            Appointment</button>
                        <button class="btn btn-sm md:btn-md rounded-full btn-accent text-white mt-4">Contact Us</button>
                    </div>

                </div>

            </div> -->


        </div>


    </section>
    <!--Hero Banner Area -->

    <!-- About info -->
    <section class="hero py-10 bg-base-100">
        <div class="hero-content grid grid-cols-1 md:grid-cols-3">
            <p id="textContainer" class="typing text-lg md:text-3xl text-center text-accent font-bold"></p>
            <div class="p-5 col-span-2">
                <h1 class="text-xl md:text-4xl leading-5">A Great place of medical care hospital center</h1>
                <p class="py-6 text-gray-500 text-sm">It is a long established fact that a reader will be distracted by
                    the readable content of a page when looking at its layout. It is a long established fact that a
                    reader will be distracted by the readable content of a page when looking at its layout.</p>
                <div class="my-4">
                    <div class="grid grid-cols-2 gap-4">
                        <div class="flex flex-col md:flex-row items-center gap-4 my-2">
                            <button class="btn btn-sm md:btn-md btn-accent rounded-full">
                                <i class="text-white" data-feather="user"></i>
                            </button>
                            <div>
                                <h2 class="text-sm md:text-xl text-center md:text-left">Create Account</h2>
                                <p class="text-xs text-gray-500 text-center md:text-left">
                                    Just fill up a simple form
                                </p>
                            </div>
                        </div>
                        <div class="flex flex-col md:flex-row items-center gap-4 my-2">
                            <button class="btn btn-sm md:btn-md btn-accent rounded-full">
                                <i class="text-white" data-feather="activity"></i>
                            </button>
                            <div>
                                <h2 class="text-sm md:text-xl text-center md:text-left">Make Appointment</h2>
                                <p class="text-xs text-gray-500 text-center md:text-left">
                                    It's easy to make
                                </p>
                            </div>
                        </div>
                        <div class="flex flex-col md:flex-row items-center gap-4 my-2">
                            <button class="btn btn-sm md:btn-md btn-accent rounded-full">
                                <i class="text-white" data-feather="thermometer"></i>
                            </button>
                            <div>
                                <h2 class="text-sm md:text-xl text-center md:text-left">Doctor Checkup</h2>
                                <p class="text-xs text-gray-500 text-center md:text-left">
                                    Doctor will check your appointment.
                                </p>
                            </div>
                        </div>
                        <div class="flex flex-col md:flex-row items-center gap-4 my-2">
                            <button class="btn btn-sm md:btn-md btn-accent rounded-full">
                                <i class="text-white" data-feather="file-plus"></i>
                            </button>
                            <div>
                                <h2 class="text-sm md:text-xl text-center md:text-left">Your Prescription</h2>
                                <p class="text-xs text-gray-500 text-center md:text-left">
                                    Check your prescription and print.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="text-center mt-5">
                    <button class="btn btn-info rounded-full btn-sm md:btn-md text-white">Get Started</button>
                </div>


            </div>
        </div>
    </section>
    <!-- About info -->

    <!-- Consultant Card -->
    <section class="py-10 bg-blue-50">

        <div class="section-title">
            <h1 class="text-center text-xl md:text-4xl font-semibold mt-2 mb-16">কনসালটেন্ট
            </h1>



        </div>
        <div class="container mx-auto px-5 md:px-12 lg:px-24 xl:px-32">
            <div class="doctors my-5 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-y-5 lg:gap-y-10 gap-x-8">
                {% for doctor in consultants %}
                <div class="bg-base-100 shadow-xl m-4">

                    <div class="relative bg-gray-100">
                        <a href="{% url 'doctor_public_profile' pk=doctor.id %}">
                            {% if doctor.profile_pic %}
                            <img class="w-full h-[250px] object-contain" src="{{doctor.profile_pic.url}}"
                                alt="doctor_profile" />
                            {%else %}
                            <img class="w-full h-[250px] object-contain" src="{% static 'images/doctor.jpg' %}"
                                alt="doctor_profile" />
                            {%endif %}
                        </a>
                        <div style="
                        position: absolute;
                        left: 12px;
                        bottom: -15px;
                    ">
                            <div class="flex gap-x-2">
                                <a href="tel:{{doctor.whatsapp}}"
                                    class="text-xs p-1 bg-success cursor-pointer rounded-full flex justify-center items-centere">
                                    <i class="text-white" width="15px" height="15px" data-feather="phone-call"></i>
                                </a>
                                <a href="{{doctor.facebook|default_if_none:'#'}}"
                                    class="text-xs p-1 bg-info cursor-pointer rounded-full flex justify-center items-centere">
                                    <i class="text-white" width="15px" height="15px" data-feather="facebook"></i>
                                </a>
                                <a href="{% url 'patient_submit_new_appointment' pk=doctor.id %}"
                                    class="text-xs p-1 bg-accent cursor-pointer rounded-full flex justify-center items-centere">
                                    <i class="text-white" width="15px" height="15px" data-feather="send"></i>
                                </a>
                            </div>
                        </div>
                        <div>

                        </div>
                    </div>



                    <div class="p-4 pt-5">
                        <div class="text-gray-500 text-sm">{{doctor.designation}}</div>
                        <a href="{% url 'doctor_public_profile' pk=doctor.id %}">
                            <h2 class="card-title text-base md:text-lg lg:text-xl mb-2 capitalize">
                                {{doctor.full_name}}

                            </h2>
                        </a>

                        <!-- <div class="flex flex-col gap-2 flex-nowrap justify-end">
                            <a href="{% url 'doctor_public_profile' pk=doctor.id %}"
                                class="btn btn-xs md:btn-sm rounded-full btn-outline">Profile</a>
                            <a href="{% url 'patient_submit_new_appointment' pk=doctor.id %}"
                                class="btn btn-xs md:btn-sm rounded-full btn-outline">Appointment</a>
                        </div> -->
                    </div>

                </div>
                {%endfor %}



            </div>

        </div>


    </section>
    <!-- Consultant Card -->


    <!-- Telemedicine Card -->
    <section class="py-10 bg-base-100">

        <div class="section-title">
            <h1 class="text-center text-xl md:text-4xl font-semibold mt-2 mb-16">টেলিমেডিসিন ডক্টরস</h1>
        </div>
        <div class="container mx-auto px-5 md:px-12 lg:px-24 xl:px-32">
            <div class="doctors my-5 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-y-10 gap-x-8">
                {% for doctor in telemedicine %}
                <div class="bg-base-100 shadow-xl m-4">

                    <div class="relative bg-gray-100">
                        <a href="{% url 'doctor_public_profile' pk=doctor.id %}">
                            {% if doctor.profile_pic %}
                            <img class="w-full h-[250px] object-contain" src="{{doctor.profile_pic.url}}"
                                alt="doctor_profile" />
                            {%else %}
                            <img class="w-full h-[250px] object-contain" src="{% static 'images/doctor.jpg' %}"
                                alt="doctor_profile" />
                            {%endif %}
                        </a>
                        <div style="
                        position: absolute;
                        left: 12px;
                        bottom: -15px;
                    ">
                            <div class="flex gap-x-2">
                                <a href="tel:{{doctor.whatsapp}}"
                                    class="text-xs p-1 bg-success cursor-pointer rounded-full flex justify-center items-centere">
                                    <i class="text-white" width="15px" height="15px" data-feather="phone-call"></i>
                                </a>
                                <a href="{{doctor.facebook|default_if_none:'#'}}"
                                    class="text-xs p-1 bg-info cursor-pointer rounded-full flex justify-center items-centere">
                                    <i class="text-white" width="15px" height="15px" data-feather="facebook"></i>
                                </a>
                                <a href="{% url 'patient_submit_new_appointment' pk=doctor.id %}"
                                    class="text-xs p-1 bg-accent cursor-pointer rounded-full flex justify-center items-centere">
                                    <i class="text-white" width="15px" height="15px" data-feather="send"></i>
                                </a>
                            </div>
                        </div>
                        <div>

                        </div>
                    </div>



                    <div class="p-4">
                        <div class="text-gray-500 text-sm mt-2">{{doctor.designation}}</div>
                        <a href="{% url 'doctor_public_profile' pk=doctor.id %}">
                            <h2 class="card-title text-base md:text-lg lg:text-xl mb-2 capitalize">
                                {{doctor.full_name}}

                            </h2>
                        </a>

                        <!-- <div class="flex flex-col gap-2 flex-nowrap justify-end">
                            <a href="{% url 'doctor_public_profile' pk=doctor.id %}"
                                class="btn btn-xs md:btn-sm rounded-full btn-outline">Profile</a>
                            <a href="{% url 'patient_submit_new_appointment' pk=doctor.id %}"
                                class="btn btn-xs md:btn-sm rounded-full btn-outline">Appointment</a>
                        </div> -->
                    </div>

                </div>
                {%endfor %}

            </div>

        </div>


    </section>
    <!-- Telemedicine Card -->


    <!-- Rural Doctors Card -->
    <section class="py-10 bg-blue-50">

        <div class="section-title">
            <h1 class="text-center text-xl md:text-4xl font-semibold mt-2 mb-16">পল্লী চিকিৎসক</h1>
        </div>
        <div class="container mx-auto px-5 md:px-12 lg:px-24 xl:px-32">
            <div class="doctors my-5 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-y-10 gap-x-8">
                {% for doctor in ruralDoctors %}
                <div class="bg-base-100 shadow-xl m-4">

                    <div class="relative bg-gray-100">
                        <a href="{% url 'doctor_public_profile' pk=doctor.id %}">
                            {% if doctor.profile_pic %}
                            <img class="w-full h-[250px] object-contain" src="{{doctor.profile_pic.url}}"
                                alt="doctor_profile" />
                            {%else %}
                            <img class="w-full h-[250px] object-contain" src="{% static 'images/doctor.jpg' %}"
                                alt="doctor_profile" />
                            {%endif %}
                        </a>
                        <div style="
                        position: absolute;
                        left: 12px;
                        bottom: -15px;
                    ">
                            <div class="flex gap-x-2">
                                <a href="tel:{{doctor.whatsapp}}"
                                    class="text-xs p-1 bg-success cursor-pointer rounded-full flex justify-center items-centere">
                                    <i class="text-white" width="15px" height="15px" data-feather="phone-call"></i>
                                </a>
                                <a href="{{doctor.facebook|default_if_none:'#'}}"
                                    class="text-xs p-1 bg-info cursor-pointer rounded-full flex justify-center items-centere">
                                    <i class="text-white" width="15px" height="15px" data-feather="facebook"></i>
                                </a>
                                <a href="{% url 'patient_submit_new_appointment' pk=doctor.id %}"
                                    class="text-xs p-1 bg-accent cursor-pointer rounded-full flex justify-center items-centere">
                                    <i class="text-white" width="15px" height="15px" data-feather="send"></i>
                                </a>
                            </div>
                        </div>
                        <div>

                        </div>
                    </div>



                    <div class="p-4">
                        <div class="text-gray-500 text-sm mt-2">{{doctor.designation}}</div>
                        <a href="{% url 'doctor_public_profile' pk=doctor.id %}">
                            <h2 class="card-title text-base md:text-lg lg:text-xl mb-2 capitalize">
                                {{doctor.full_name}}

                            </h2>
                        </a>

                        <!-- <div class="flex flex-col gap-2 flex-nowrap justify-end">
                            <a href="{% url 'doctor_public_profile' pk=doctor.id %}"
                                class="btn btn-xs md:btn-sm rounded-full btn-outline">Profile</a>
                            <a href="{% url 'patient_submit_new_appointment' pk=doctor.id %}"
                                class="btn btn-xs md:btn-sm rounded-full btn-outline">Appointment</a>
                        </div> -->
                    </div>

                </div>
                {%endfor %}

            </div>

        </div>


    </section>
    <!-- Rural Doctors Card -->

    <!-- FAQ -->
    <section class="py-10 bg-blue-50">
        <div class="section-title">
            <h1 class="text-center text-xl md:text-4xl font-semibold mt-2 mb-16">সচরাচর প্রশ্নোত্তর</h1>
        </div>
        <div class="container mx-auto px-5 md:px-12 lg:px-24 xl:px-32">

            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                <div class="w-full flex flex-col gap-4 order-2 lg:order-1">

                    {% for faq in faqs %}
                    <div class="collapse collapse-plus shadow-xl rounded-lg">
                        <input type="checkbox" class="peer" />
                        <div class="collapse-title bg-white">
                            {{faq.question}}
                        </div>
                        <div class="collapse-content bg-gray-50">
                            <p>{{faq.answer}}</p>
                        </div>
                    </div>
                    {%endfor %}


                </div>
                <div class="order-1 lg:order-2">
                    <img src="{% static 'images/faq.jpg' %}" class="w-96 text-center mx-auto" alt="">
                </div>
            </div>
        </div>

    </section>


    <!-- Testimonial -->
    <section class="py-10 bg-base-100">
        <div class="section-title">
            <h1 class="text-center text-xl md:text-4xl font-semibold mt-2 mb-16">রিভিউ</h1>
        </div>
        <div class="container mx-auto px-5 md:px-10 lg:px-20 xl:px-32">

            <div class="testimonial-sliders">

                {% for testimonial in testimonials %}
                <div
                    class="w-1/3 cursor-pointer hover:-mt-4 mb-5 ease-in  duration-200 hover:shadow-2xl mx-2 lg:mx-10 shadow-md p-4 md:p-5 min-h-[280px]">
                    <div class="flex flex-col justify-center items-center">
                        <div class="shadow-sm">
                            <img class="w-24 h-24 rounded-full border border-info p-1 " src="{{testimonial.photo.url}}"
                                alt="">
                        </div>
                        <div class="details">
                            <p class="text-gray-500 text-center text-xs md:text-sm p-2 md:p-4">
                                {{testimonial.comment}}
                            </p>
                            <h5 class="text-center font-semibold">{{testimonial.name}}</h5>
                            <h6 class="text-gray-500 text-center text-sm">{{testimonial.designation}}</h6>

                        </div>

                    </div>

                </div>
                {%endfor%}

            </div>

        </div>

    </section>
    <!-- Testimonial -->


    <!-- Village Care Center -->
    <section class="py-10 bg-base-100">
        <div class="section-title">
            <h1 class="text-center text-xl md:text-4xl font-semibold mt-2 mb-16">ভিলেজ কেয়ার সেন্টার</h1>
        </div>
        <div class="container mx-auto px-5 md:px-10 lg:px-20 xl:px-32">

            <div class="testimonial-sliders">

                {% for village_care in village_care_centers %}
                <div
                    class="w-1/3 cursor-pointer hover:-mt-4 mb-5 ease-in  duration-200  mx-2 lg:mx-10 p-4 md:p-5 min-h-[200px]">
                    <a href="{% url 'single_village_care' pk=village_care.id %}">
                        <div class="flex flex-col justify-center items-center">
                            <div class="shadow-sm">
                                <img class="w-24 h-24 p-1 " src="{% static 'images/care.png' %}" alt="">
                                <!-- <img class="w-24 h-24 rounded-full border border-info p-1 "
                                    src="{{village_care.profile_pic.url}}" alt=""> -->
                            </div>
                            <div class="details">

                                <h5 class="text-center font-semibold">{{village_care.full_name}}</h5>
                                <p class="text-center font-medium text-sm">{{village_care.address}}</p>


                            </div>

                        </div>
                    </a>

                </div>
                {%endfor%}

            </div>

        </div>

    </section>
    <!-- Village Care Center -->

    <!-- Counter -->

    <section class="py-10 bg-blue-50">

        <div class="container mx-auto px-5 md:px-10 lg:px-32">

            <div class="flex justify-center">
                <div class="grid grid-cols-3 md:grid-cols-5">

                    {% for counter in counters %}
                    <div class="stat place-items-center gap-y-2">
                        {% if counter.image %}
                        <img class="w-10 h-10 md:w-12 md:h-12" src="{{counter.image.url}}" alt="">
                        {%endif%}
                        <div class="stat-value counter" data-count="{{counter.count}}">0</div>
                        <div class="stat-title capitalize">{{counter.title}}</div>
                    </div>
                    {%endfor%}


                </div>
            </div>
        </div>

    </section>
    <!-- Counter -->

    <!-- Important Links -->

    <section class="py-10 bg-blue-50">

        <div class="container mx-auto px-5 md:px-10 lg:px-32">

            <div class="grid grid-cols-2 md:flex justify-center gap-2">
                <a href="#" class="btn btn-sm btn-error min-w-[130px]" style="border-radius:0;">জরুরি রক্ত</a>
                <label for="my-modal-4" class="btn btn-sm btn-error min-w-[130px]" style="border-radius:0;">
                    <!-- The button to open modal -->
                    জরুরি ফোন নাম্বার

                </label>
                <a href="{% url 'health_team' %}" class="btn btn-sm btn-accent min-w-[130px]"
                    style="border-radius:0;">হেলথ টিম</a>
                <a href="{% url 'medicine_bank' %}" class="btn btn-sm bg-[#8311e0] min-w-[130px]"
                    style="border-radius:0;">মেডিসিন
                    ব্যাংক</a>
            </div>
        </div>

    </section>
    <!-- Important Links -->

    <!-- modal -->


    <!-- Put this part before </body> tag -->
    <input type="checkbox" id="my-modal-4" class="modal-toggle" />
    <label for="my-modal-4" class="modal cursor-pointer">
        <label class="modal-box relative" for="">
            {{web_setting.emergency_contact_text.html|safe}}
        </label>
    </label>

    <!-- Our Clients -->
    <section class="py-10 bg-base-100">
        <div class="section-title">
            <h1 class="text-center text-xl md:text-4xl font-semibold mt-2 mb-16">সহযোগী প্রতিষ্ঠান</h1>
        </div>
        <div class="container mx-auto px-5 md:px-10 lg:px-20 xl:px-32">

            <div class="testimonial-sliders">


                {% for client in clients %}
                <div
                    class="w-1/3 cursor-pointer hover:-mt-4 mb-5 ease-in  duration-200 hover:shadow-2xl mx-2 lg:mx-10 shadow-md p-4 md:p-5 min-h-[100px]">
                    <div class="flex flex-col justify-center items-center">
                        <a href="{{client.url|default_if_none:'#'}}">
                            <div class="shadow-sm" align="center">
                                <img class="w-24 h-24 p-1" src="{{client.logo.url}}" alt="">
                            </div>
                            <div class="details">

                                <h5 class="text-center font-semibold">{{client.name}}</h5>

                            </div>
                        </a>

                    </div>

                </div>
                {%endfor%}


            </div>

        </div>

    </section>
    <!-- Testimonial -->


</div>

{% endblock body %}

{% block footerscript %}


<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<script>


    $(".hero-sliders").slick({
        infinite: true,
        speed: 500,
        autoplay: true,
        autoplaySpeed: 2000,
    });

    $('.testimonial-sliders').slick({
        infinite: true,
        slidesToShow: 3,
        slidesToScroll: 1,
        dots: true,
        infinite: true,
        responsive: [
            {
                breakpoint: 1124,
                settings: {
                    slidesToShow: 3,
                    slidesToScroll: 3,
                    infinite: true,
                    dots: true
                }
            },
            {
                breakpoint: 768,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 2
                }
            },
            {
                breakpoint: 480,
                settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1
                }
            }
            // You can unslick at a given breakpoint now by adding:
            // settings: "unslick"
            // instead of a settings object
        ]
    });


</script>
<script src="{% static 'js/typeit.min.js' %}"></script>


<script>
    $('.counter').each(function () {
        var $this = $(this),
            countTo = $this.attr('data-count');

        $({ countNum: $this.text() }).animate({
            countNum: countTo
        },

            {

                duration: 8000,
                easing: 'linear',
                step: function () {
                    $this.text(Math.floor(this.countNum));
                },
                complete: function () {
                    $this.text(this.countNum);
                    //alert('finished');
                }

            });



    });
    const type = new TypeIt('#textContainer', {

        strings: ["তথ্যসেবা ", "বিশেষজ্ঞ অনলাইন চেম্বার ", "টেলিমেডিসিন সার্ভিস ", "জনস্বাস্থ্য ও জনসচেতনতা "],
        breakLines: false,
        loop: true,


    });
    type.go();


</script>


{% endblock footerscript %}