{% extends "base.html" %}
{% load static %}
{% block title %} Medicine Bank {% endblock title %}



{% block headerstyle %}

{% endblock headerstyle %}

{% block body %}
<div class="main">

    <div class="min-h-screen bg-blue-50">
        <div class="container px-2 md:px-12 lg:px-18 mx-auto">
            <div class="section-title">
                <h1 class="text-center text-xl md:text-4xl font-semibold pt-5 mb-16">সকল ব্লগ</h1>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
               
            </div>

        </div>
    </div>
</div>


{% endblock body %}