{% extends "base.html" %}
{% load static %}
{% block title %} {{village_care.full_name}} {% endblock title %}



{% block headerstyle %}
<style>
    .breadcumb-bg{
        background-image: url('{{village_care.profile_pic.url}}');
        background-repeat: no-repeat;
        background-size: cover;
        background-position:center;
        background-blend-mode:darken;
       
    }
    ol, ul {
    list-style: auto !important;
    }
</style>
{% endblock headerstyle %}

{% block body %}
<div class="main">
    <div class="py-5 md:py-32 px-5 md:px-24 breadcumb-bg">
        <h1 class="bredcumb-title text-xl md:text-4xl text-white font-bold">{{village_care.full_name}}</h1>
       
    </div>
    <div class="min-h-screen bg-blue-50">
        <div class="container mx-auto px-2 md:px-12 lg:px-18">
           
            <div class="grid grid-cols-1 md:grid-cols-5 gap-4 items-center justify-center">
                

                <div class="p-2 md:col-span-4 order-2">
                    <div class="card-body bg-white">
                        <h2 class="card-title">ঠিকানাঃ {{village_care.address}}</h2>
                        <h2 class="card-title">যোগাযোগঃ {{village_care.contact_no}}</h2>
                        <p class="p-4">{{village_care.details.html|safe}}</p>
                      
                    </div>

                </div>
                <div class="p-2 order-1 md:order-2" align="center">
                    <img class="w-full" src="{{village_care.profile_pic.url}}" alt="">
                </div>
                
            </div>

        </div>
    </div>
</div>


{% endblock body %}