{% extends "dashboardBase.html" %}

{%block dashboardtitle %}
Patient Dashboard
{%endblock dashboardtitle %}

{% block sidebar %}

{% include "patient/patient_sidebar.html" %}

{% endblock sidebar %}


{% block body %}
<main class="h-full overflow-y-auto">
    <div class="container px-6 mx-auto grid">
        <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
            New Appointment
        </h2>
        <h2 class="my-2 text-lg font-semibold text-gray-700 dark:text-gray-200">
            Fill up Form
        </h2>
        <br>
        <!-- Cards -->

        <div class="card shadow-md max-w-lg bg-white">
            <form method="post">

                {% csrf_token %}
                <input type="text" name="doctor" value="{{doctor.id}}" hidden="true">
                <input type="text" name="patient" value="{{request.user.patient.id}}" hidden="true">

                <div class="card flex-shrink-0 w-full bg-base-100">
                    <div class="card-body">
                        <div class="form-control">
                            <label class="label">
                                <span class="label-text">Doctor</span>
                            </label>
                            <input class="input input-bordered" type="text" name="doctor" value="{{doctor.full_name}}" disabled>
                        </div>
                        <div class="form-control">
                            <label class="label">
                                <span class="label-text text-lg">Your Problem</span>
                            </label>
                            <textarea class="textarea textarea-bordered bg-base-200" rows="5" name="description" placeholder="Your Problem" required></textarea>
                          
                        </div>
                    </div>

                    <div class="flex justify-center">
                        <button class="btn btn-info mb-4 rounded-full text-white" type="submit">Confirm</button>
                    </div>
                </div>


                <div>

                </div>
            </form>
        </div>





    </div>
</main>

{% endblock body %}